/* Inicio del navbar */
.navbar {
  background: #1e6cd3;
  padding: 0.5rem 1rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-list li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

/*Color de fondo de las letras del navbar al posicionarse*/
.navbar-list li a:hover {
  color: #ffae00;
}

/*Fin del Navbar*/