<div class="sidenav-container">
  <div class="user-info" *ngIf="authService.currentUser()">
    <div class="user-avatar">
    </div>
    <div class="user-details">
      <div class="user-name">{{ authService.currentUser()!.username }}</div>
      <div class="user-role">{{ authService.currentUser()!.role }}</div>
      <div class="user-email">{{ authService.currentUser()!.email }}</div>
    </div>
  </div>

  <nav class="sidenav-nav">
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of menuItems"
        [class.hidden]="!isMenuItemVisible(item)"
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: false}"
        (click)="onMenuItemClick(item)">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
        <span matListItemMeta *ngIf="item.badge" class="badge">{{ item.badge }}</span>
      </a>
    </mat-nav-list>
  </nav>
</div>

