.formulario-estudiantes {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.input-estudiante {
  flex-grow: 1;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-estudiante:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
}

.btn-personalizado {
    background-color: #1976d2;
    color: #fff;
    font-weight: 600;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



button[matButton] {
  font-weight: 600;
  font-size: 1rem;
  color:#fff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #1976d2;
  text-transform: none;
}